@import "tools/typos.scss";

@import "pages/index.scss";
@import "pages/category.scss";
@import "pages/cheses.scss";
@import "pages/contact.scss";

@import "pages/hits/chaseHitsCat.scss";
@import "base/media.scss";
