@media (max-width: 576px){

    .articlsMain_navbar{
        padding: 2rem 0rem 1rem 1rem;

        .navbar-nav{
            flex-direction: row;

            .active>a{
                padding: .5rem;
            }
            
            .nav-link{
                margin: 10px;
            }
        }
        .navbar-nav>.active>a {
            // background-color: #fff !important;
            color: #e9585e!important;
        }
        
    }

    .headerMain_bgvideo{
        background: url("../img/bg_mobil.jpg") no-repeat center center/cover !important;
    }

    .headerMain_btn-coler{
        background: rgba(233, 88, 80, .25) !important;
        border: 1px solid rgba(233, 88, 80, .75) !important;
    }

    .categoryContainer{
        padding: 0rem 0rem 0rem 0rem;
    }
}

// ------------------------------ Categorys -------------------------

@media(max-width: 1024px){
    .categoryContainer{
        padding-top: max(0.4rem );
        padding-bottom: max(0.2rem );
    }
}

@media(max-width: 768px){
    .categoryContainer{
       margin-top: -3rem;
       margin-bottom: 1rem;

    }
    .category-hover{
        margin-bottom: 0rem;
    }

}

// --------------------------------- chaises ------------------------------

@media(max-width: 1024px){
    .container_chesse{
        padding: 9rem 0rem 0rem 0rem;
    }
}

@media(max-width: 700px){

    .container_chesse .row{
        display: block;
    }
}

@media(max-width: 450px){

    .articlsMain_navbar{
        padding: 1rem 0rem 1rem 1rem;
    }
    .container_chesse .card-body{
        padding-bottom: 2rem;
    }

    
}

// ---------------------- chaseHitsCat ----------------------------------

@media(max-width: 800px){
    .chaseHitsCat {
        width: 90%;
    }
    .chaseHitsCat-card{
        flex-direction: column;
        .hitsCardBody {
            padding-left: 1rem;
        }
    }
    .chaseHitsCat-card img {
        width: auto;
    }
}


@media(max-width: 600px){
    .chaseHitsCat{
        height: auto;
    }
    .chaseHitsCat-card .hitsCardBody .card-text {
        padding-bottom: 0rem;
    }
    .chaseHitsCat-card {
        padding-top: 8rem;
        padding-bottom: 1rem;
    }

    .chaseHitsCat-card_carousel{
        padding-top: 8rem;
        padding-bottom: 3rem;
    }
    .chaseHitsCat-card_carousel img{
        width: 99%;
        margin: auto;
    }

    .hitsCategories-carousel{
        bottom: -3.6%;
    }
    .carousel-item .card-body:last-child{
        margin-bottom: 3.5rem;
    }
}