#category{
    max-width: 80%;
}

.category1 h2, .category2 h2{
    font-size: max(1.3vw, 16px);
    color:  #182329;
    font-family: "font_all";
    font-weight: 600;
    padding: 1rem;
}

.category-hover{
   margin-bottom: 4rem;
}
.category1{
    position: relative;
    transition: .3s;
    transition: 450ms all;
}
.category-hover{
    transition: .3s;
    transition: 450ms all;
}

.category1 img, .category2 img{
    border-radius: 1rem;
    border: 2px solid #fff;
    max-width: 350px;
    max-height: 200px;
}


.category-hover:hover {
    transform: scale(1.065);
    transition-delay: 0s;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-property: all;

}

//Soulignement le titre des categoryes
.categoryContainer_titleSubline{
    display: block;
    width: 100%;
    text-align: center;
    cursor: pointer;
    .titleSublineCustom-underline{
        position: relative;
        display: inline-block;
        font-size: 24px;
        font-weight: 400;
        text-align: center;
        &::after{
            content: "";
            position: absolute;
        }
    }
}
//Animation du soulignement le titre des categoryes
.categoryContainer_titleSubline .titleSublineCustom-underline::after{
    bottom: 24%;
    height: 3px;
    width: 0%;
    left: 5%;
    background-color: #28534a;
    transition: 0.5s ease all .2s;
}

.categoryContainer_titleSubline:hover .titleSublineCustom-underline::after{
    width: 90%;
    transition: 0.3s ease all;
}


