.articlsMain_navbar{
    padding: 2rem 0rem 2rem 2rem;
    background-color: #dcddd5;
    font-family: "font_text_navbar";
    font-weight: bold;
    width: 100%;
    top: 0;
    left: 0;
}

.container_chesse{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 12rem 0rem 2rem 0rem;
    width: 90%;
    .card{
        border: none;
        h4{
            margin: 0;
        }
    }
    img{
        box-shadow: 0px 0px 8px 0px rgb(143, 137, 137);
        max-width: 423px;
        max-height: 320px;
    }
    .card-body{
        padding-bottom: 5rem;
    }
}


// slide images
  .carousel-indicators li{
    background-color: rgb(24, 35, 41);
  }
  .carousel-indicators dl, ol, ul{
    margin-bottom: 3rem;
  }