* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
// navber
.navbarMain{
    z-index: 2;
    position: absolute;
    padding: 2rem 0rem 2rem 2rem;
    background-color: #dcddd5;
    font-family: "font_text_navbar";
    font-weight: bold;
    width: 100%;
    top: 0;
    left: 0;
}

.navbar-nav > li > a{
    color: #102025 !important;
    font-size: 16px;
}
.navbar-nav > .active > a{
    background-color: #fff !important;
}

.navbar-nav > li > a:hover{
    color: #e9585e !important;
    font-size: 18px;
}

// toggle
.navbar-toggler{
    background: #e9585e;
}
.navbar-toggler:hover {
    background: rgb(240, 160, 160);
}

// section

.headerMain{
    height: 100vh;
    color: #fff;
    padding: 0 20px;

    .headerMain_bgvideo{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background: no-repeat center
        center/cover;
    }

    .headerMain_bgvideo{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    video{
        min-width: 100vw;
        min-height: 100vh;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        object-fit: cover;
    }
    .headerMain_content{
        z-index: 1;

        h1{
            font-size: max(2vw, 50px);
            font-weight: 700;
            font-family: 'font_h1_header';
            margin-bottom: 40px;
            text-shadow: 0px 0px 8px black;
        
            letter-spacing: 1rem;
        }
        
        p{
            font-size: max(1vw, 16px);
            font-weight: 400;
            font-family: "font_all";
        }

        a.headerMain_btn.headerMain_btn-coler{
            color: white;
            font-family: "font_all";
            border: 1px solid #fff;
            font-size: max(2vw, 25px);
            background: rgba(255, 255, 255, .25);
            padding: 5px 25px;
            text-decoration: none;
        }
        
        a.headerMain_btn.headerMain_btn-coler:hover{
            background: rgba(233, 88, 80, .25);
            border: 1px solid rgba(233, 88, 80, .75);
        }
    }
}

//categorye
.categoryContainer{
    padding-top: max(2rem );
    padding-bottom: max(1rem );
	text-align: center;
    .justify-content-center{
        margin: 0;
    }
}

.jumbotron{
    background: #182329;
    margin-top: -0.5px;
    padding: 1em;
}

.jumbotronAccroche{
    margin-top: 18px;
    font-size: 30px;
    color: white;
}
//footer

.footer_main{
    margin-bottom: 0px;
    padding: .6em;
    
    p{
        font-size: 16px;
    }
}