
// http://www.nayiri.com/fonts?l=fr

@font-face {
    font-family: 'font_h1_header';
    src: url('.././fonts/Arian_Grqi_U.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'font_all';
    src: url('.././fonts/Arian_Grqi_i_U.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;

}